# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
venv/


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore data files
.data/

